{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam est dicta neque molestiae velit, reprehenderit ut, porro, facilis quod vel at ratione repellendus quibusdam rerum iste dolore? Repellendus sint illo, quibusdam praesentium accusantium hic expedita, nulla ex nihil error at! Et dignissimos voluptas, reiciendis excepturi quidem optio eaque aspernatur quam iure illum ipsa officia mollitia nemo nobis maxime nihil neque rem? Eius iusto, neque provident consectetur assumenda tenetur esse unde possimus et nobis ratione, quia totam mollitia earum, adipisci atque nulla culpa beatae nostrum asperiores saepe. Quod labore pariatur eveniet facilis magnam odio, excepturi aspernatur, placeat quas corrupti, impedit vel.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Sign in
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign up
            </a>
        </div>
    </section>
</main>

{% endblock %}